[GLOBAL]
#ICD_FILE = /home/robuntu/Releases/PythonScripts/Linux/ICD/CPIOM_ICDcompleted.csv
ICD_FILE = /home/kailash/workspace/Linux/ICD/CPIOM_ICDcompleted.csv
#ICD_FILE = /media/6288526D88524029/Airbus/My Received Files/ADIRU/ADIRS_A350_old scripts results and captures/026/V3412SP0808438ICD1_B004P002_T001.csv
#ICD_FILE = /media/6288526D88524029/Airbus/My Received Files/ADIRU/ADIRS_A350_old scripts results and captures/026/V3412SP0808438ICD1_B004P002_T001.csv
#ICD_FILE = /home/robuntu/Releases/PythonScripts/Linux/ICD/TR_CONF_A_ICD_new_2.csv
#ICD_FILE = /home/robuntu/Releases/PythonScripts/Linux/ICD/CPIOM_ICDcompleted.csv
NETWORK_INTERFACE_A = wlan0
NETWORK_INTERFACE_B = eth0

TE_IP = 10.1.33.1
TE_UDP = 50025
TE_TX_VL = 1
TE_RX_VL = 2

VLIDTXA = 10016
VLIDTXB = 10048

MAC_PREFIX_RX = 03:00:00:00
MAC_PREFIX_TX = 02:00:00:00:27

SNMP_TR_TX = 161
SNMP_TR_RX = 162

#RECEIVER_NETWORK_FILTER_A = (ip and ether[11] = 0x20)
#RECEIVER_NETWORK_FILTER_B = (ip and ether[11] = 0x40)
RECEIVER_NETWORK_FILTER_A = (ip and udp)
RECEIVER_NETWORK_FILTER_B = (ip and udp)