[GLOBAL]
ICD_FILE = /home/robuntu/kailash/github/AFDXSuite/Scripts/icd/CPIOM_ICDcompleted(1).csv
#ICD_FILE = /home/kailash/workspace/Linux/ICD/CPIOM_ICDcompleted.csv
#ICD_FILE = /media/6288526D88524029/Airbus/My Received Files/ADIRU/ADIRS_A350_old scripts results and captures/026/V3412SP0808438ICD1_B004P002_T001.csv
#ICD_FILE = /media/6288526D88524029/Airbus/My Received Files/ADIRU/ADIRS_A350_old scripts results and captures/026/V3412SP0808438ICD1_B004P002_T001.csv
#ICD_FILE = /home/robuntu/Releases/PythonScripts/Linux/ICD/TR_CONF_A_ICD_new_2.csv
#ICD_FILE = /home/robuntu/Releases/PythonScripts/Linux/ICD/CPIOM_ICDcompleted.csv

NETWORK_INTERFACE_A = eth0
NETWORK_INTERFACE_B = eth1

NMF_IP = 10.6.2.6
NBF_IP = 10.5.2.5

TE_IP = 10.1.33.1
TR_IP = 224.224.0.2

# udp port used for sending commands to the TR
TE_UDP = 50025
TE_TX_VL = 1
TE_RX_VL = 2

ES_MIB = AFDXES.mib

MAC_PREFIX_RX = 03:00:00:00
MAC_PREFIX_TX = 02:00:00:00:27

SNMP_UDP_PORT= 161
SNMP_TRAP_PORT = 162

RECEIVER_NETWORK_FILTER_A = (ip and ether[11] = 0x20)
RECEIVER_NETWORK_FILTER_B = (ip and ether[11] = 0x40)
RECEIVER_NETWORK_FILTER_AB = (ip)
#RECEIVER_NETWORK_FILTER_A = (icmp or (udp and udp[6:2] = 0))
#RECEIVER_NETWORK_FILTER_B = (icmp or (udp and udp[6:2] = 0))
